<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="default_pattern" value="%date [%thread] %-5level %logger{30} - %msg%n"/>

    <property name="log.basedir" value="/var/logs/hopper1"/>
    <property name="log.root.level" value="DEBUG"/>
    <property name="log.hopper.level" value="DEBUG"/>
    <property name="log.appender" value="STDOUT"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${default_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.basedir}/hopper.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${default_pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.basedir}/hopper.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.hopper">
        <level value="${log.hopper.level}"/>
    </logger>

    <root>
        <level value="${log.root.level}"/>
        <appender-ref ref="${log.appender}"/>
    </root>
</configuration>
